body {
  font-family: "Helvetica", sans-serif;
}

h2 {
<<<<<<< HEAD
  color: #7A0019;
=======
  color: #ffcc00;
  background-color: #cccccc;
>>>>>>> master
}

#contact {
  background-color: #FFDE7A;
  padding: 2%;
}
